.content {
    height: calc(100vh - 78px);
}

.content::-webkit-scrollbar {
    display: none;
}

.content::-webkit-scrollbar-thumb {
    display: none;
}
.content::-webkit-scrollbar-corner {
    display: none;
}
